# Introduction to Machine Learning

## Basic Data Exploration

In [2]:
import pandas as pd

In [26]:
# salvando o caminho do arquivo em uma variavel para mais facil acesso
melbourne_file_path = '../Data/melb_data.csv'

# lendo os dados e os armazenando em um dataframe intitulado: melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 

# imprimindo um resumo dos dados do dataframe 
melbourne_houses_stats = melbourne_data.describe()

In [27]:
melbourne_houses_stats

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [28]:
# Exibindo os primeiros dados dos nossos dados puros

melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [29]:
media_quartos = round(melbourne_houses_stats['Rooms'][1])
print(f'A media de quartos em Melbourne é de : {media_quartos}')

A media de quartos em Melbourne é de : 3

In [30]:
# Exibindo todas as coluna do dataframe

melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [31]:
# O DataFrame Melbourne data tem alguns valores valtantes (algumas casas por algumas razões não tem registrado os dados.)
# Aqui utilizamos o metodo dropna() para excluir estes dados faltantes e podermos lidar com uma base mais limpa.  

# dropna exclui os valores faltantes ou como não disponiveis.
melbourne_data = melbourne_data.dropna(axis=0)

In [32]:
# Separando a serie de preço do dataframe em uma nova variavel intitulada y

y = melbourne_data.Price

In [33]:
# exibindo variavel y

y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [34]:
# Separando as colunas que temos interesse em incluir em nosso modelo e incluindo em uma variavel nomeada melbourne_features

melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

## First Machine Learning Model

In [42]:
# Iniciando o modelo criamos uma variavel denominada X, 
# selecionamos o nosso dataframe e nele pegamos as colunas que desejameos e separamos com a variavel melbourne_features

X = melbourne_data[melbourne_features]

In [43]:
# Retirando dados estatisticos da variavel X (contando numerode quartos, banheiros, tamanho terreno, latitude e longitude do imovel)

X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [44]:
# Resumo dos dados da nossa variavel X

X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [45]:
# Importanto o modelo da biblioteca scikit learn, modelo arvore de decisão

from sklearn.tree import DecisionTreeRegressor

# Definindo o modelo e um numero especifico para o random_state para garantir o mesmo resultado cada vez que codigo for rodado.
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [46]:
# Exibindo de forma visual das 5 primeiras casas do conjunto de dados armazenados na variavel X

print("Making predictions for the following 5 houses:")
print(X.head())
print(""),
print("The predictions are")
print("")
# Realizando a predição do valor para as 5 casas selecionadas
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

The predictions are

[1035000. 1465000. 1600000. 1876000. 1636000.]

## Model Validation

In [47]:
# Realizando a validação do modelo, utilizando metodo do MAE (Mean absolute error)

from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [72]:
from sklearn.model_selection import train_test_split

# Dividindo os dados em treinamento e teste para ambas as variaveis (X, y) e alvo ()
# A divisão é baseada em um gerador de numeros aleatorios. Fornecendo um valor numero para o argumento random_state
# assim fica garantido a mesma divisão toda vez que o script for rodado.

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

# Definindo o modelo
melbourne_model = DecisionTreeRegressor(random_state = 0)

# Fit model
melbourne_model.fit(train_X, train_y)

# obtendo os dados de predição de preços dos dados de validação

val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

271598.0400258231

In [73]:
# Obtendo o valor de MAE

MAE_price_predictions = mean_absolute_error(val_y, val_predictions)
print('%.2f' % MAE_price_predictions)

271598.04

## Underfitting and Overfitting

In [74]:
# Função criada para obter o MAE

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [80]:
# Comparando o MAE com diferentes valores de folhas denominados como max_leaf_nodes
max_leaf_nodes = [5, 50, 500, 5000]

# For para obter para cada valor de max_leaf_nodes o MAE
for max_leaf in max_leaf_nodes:
    my_mae = get_mae(max_leaf, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf, my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: 385696
Max leaf nodes: 50 		 Mean Absolute Error: 279794
Max leaf nodes: 500 		 Mean Absolute Error: 261718
Max leaf nodes: 5000 		 Mean Absolute Error: 271996

## Random Forests

In [4]:
# Realizando a importação dos dados e o treinamento para poder utilizar modelo de florestas aleatorias

melbourne_file_path = '../Data/melb_data.csv'

# lendo os dados e os armazenando em um dataframe intitulado: melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path)

In [5]:
# Retirando dados ausentes

melbourne_data = melbourne_data.dropna(axis=0)

In [7]:
y = melbourne_data.Price
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [12]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude']

In [14]:
X = melbourne_data[melbourne_features]
X

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
1,2,1.0,156.0,79.00,1900.0,-37.80790,144.99340
2,3,2.0,134.0,150.00,1900.0,-37.80930,144.99440
4,4,1.0,120.0,142.00,2014.0,-37.80720,144.99410
6,3,2.0,245.0,210.00,1910.0,-37.80240,144.99930
7,2,1.0,256.0,107.00,1890.0,-37.80600,144.99540
...,...,...,...,...,...,...,...
12205,3,2.0,972.0,149.00,1996.0,-37.51232,145.13282
12206,3,1.0,179.0,115.00,1890.0,-37.86558,144.90474
12207,1,1.0,0.0,35.64,1967.0,-37.85588,144.89936
12209,2,1.0,0.0,61.60,2012.0,-37.85581,144.99025
12212,6,3.0,1087.0,388.50,1920.0,-37.81038,144.89389

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [46]:
# forest_model = RandomForestRegressor(random_state=1)
# forest_model.fit(train_X, train_y)
# melb_preds = forest_model.predict(val_X)
# print(mean_absolute_error(val_y, melb_preds))

191669.7536453626

In [53]:
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y) 
melb_preds = forest_model.predict(val_X)

print("Making predictions for the following 5 houses:")
print("")
print(val_X.head())
print(""),
print("The predictions are")
print("")
print(melb_preds[0:5])

Making predictions for the following 5 houses:

       Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  \
4850       2       1.0      96.0          71.0     1880.0  -37.85010
2307       2       1.0       0.0          70.0     1965.0  -37.89020
10090      2       1.0     136.0          58.0     1892.0  -37.85542
3645       3       2.0     205.0         184.0     1995.0  -37.79930
4930       2       1.0     400.0          88.0     1955.0  -37.73520

       Longtitude
4850    144.99530
2307    144.99070
10090   144.99571
3645    145.02670
4930    144.98520

The predictions are

[ 947155.  540290.  976405. 1492295.  662815.]

In [54]:
print(mean_absolute_error(val_y, melb_preds))

191669.7536453626